@import "mdb-ui-kit/css/mdb.min.css";

@import "beranda.css";
@import "info-negara.css";
@import "./pelayanan.css";
@import "./himbauan.css";
@import "./fun-facts.css";

.card-text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* .country-detail {
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00OTQtYmctMDE4Yy14LmpwZw.jpg?s=PXvJiW_YIOrBj_nW6BScUkDU8vVHxdHosn0QW6OAWiM");
    background-size: cover;
    background-position: center;
} */
