#funfact .datatable-card .card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
}

#funfact .datatable-card {
    min-height: 80vh;
}
