#funfact .datatable {
    display: flex;
    flex-wrap: wrap;
}

#funfact .card:hover {
    transform: scale(1.04);
}

#funfact .card {
    width: calc(33.33% - 10px);
    /* margin: 10px; */
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
}
