#pelayanan {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#pelayanan .card {
    margin: 0;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
}

#pelayanan .card h3 {
    margin: 0;
}

.search {
    margin-bottom: 10px;
}

.center .search-box {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* .datatable-card {
    min-height: 80vh;
} */

#pelayanan .card:hover {
    transform: scale(1.04);
}
